#strength {
    display: flex;
    align-items: center;
    padding: 10px 0;

    small {
        flex: 2;
    }
}
ul#strengthBar {
    display: flex;
    list-style: none;
    flex: 3;
    margin:0;
    padding:0;
}

.point {
    display: flex;
    flex: 1;
    background:#DDD;
    height:10px;
}